.main {
  @apply fixed top-0 w-full flex text-gray-400 shadow-md pl-4 h-16 z-50 justify-between items-center;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: #000000a6;
}
