.main {
  @apply bg-primarybg;
}
@keyframes TranslateX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1180px);
  }
}
.skillanimation {
  @apply flex  flex-nowrap;

  animation: TranslateX 20s linear infinite;
}
